site_name: Software Developer Bootcamp
site_description: Ka ªimi's Software Developer Bootcamp
site_url: https://bootcamp.kaimi.dev
repo_url: https://github.com/kaimibk/Software-Dev-Bootcamp

theme:
  name: material
  # Palette toggle for light mode
  palette:
    - scheme: default
      primary: orange
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - content.code.copy
    - content.code.select
    - content.code.annotate

plugins: 
  - search
  - meta
  - tags

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - footnotes
  - toc:
      permalink: true
  - tables
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

nav:
  - Home: index.md
  - "Foundational Tools & Environment":
    - dev-env/index.md
    - Git & GitHub: dev-env/1.md
    - VS Code Basics: dev-env/2.md
    - Docker Fundamentals: dev-env/3.md
    - Docker Compose: dev-env/4.md
    - Dev Containers: dev-env/5.md
  - "Advanced Python Programming":
    - advanced-python/index.md
    - Advanced Functions and Object Oriented Programming: advanced-python/1.md
    - Organizing and Designing Code: advanced-python/2.md
    - Writing Robust, Maintainable Code: advanced-python/3.md
    - Testing and Debugging: advanced-python/4.md
  - "Large Language Models & Generative AI":
    - llms/index.md
    - LLM Fundamentals & Direct API Interaction: llms/1.md
    - Grounding, Structured Output, and RAG Concept: llms/2.md
    - Frameworks and Retrieval Systems (LangChain & LlamaIndex): llms/3.md
    - Agentic Workflows and the ReACT Pattern: llms/4.md
  - "Reinforcement Learning":
    - reinforcement-learning/index.md
    - Concepts & Mathematical Foundations: reinforcement-learning/1.md
    - Building a Custom Environment with Gymnasium: reinforcement-learning/2.md
    - TBD: reinforcement-learning/3.md

extra:
  social:
    - icon: fontawesome/brands/web-awesome
      link: https://kaimi.dev
    - icon: fontawesome/brands/github
      link: https://github.com/kaimibk/
